<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Manuel Iglesias del Campo.
</p>
<a href="https://github.com/ManoloIglesias/quiz_2017">https://github.com/ManoloIglesias/quiz_2017</a>

<img src="/images/manuel.jpg" />

