<h1>Ayuda</h1>

<p>
    Un quiz es una pregunta que tiene diferentes respuestas a elegir y solo una de ellas es verdadera. Se responde eligiendo cual de ellas es verdadera.<br>
El objetivo de este portal es crear un quiz para el divertimento de los presentes.
</p>



